<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div class="container">
	<table>
	<tr>
		<th>処理日時</th>
		<th>サーバ名</th>
		<th>Apacheプロセス数</th>
		<th>Apacheコネクション数</th>
		<th>APJコネクション数</th>
		<th>Tomcatスレッド数</th>
		<th>Tomcatセッション数</th>
		<th>DBコネクション数</th>
		<th>APIコネクション数</th>
	</tr>
	<tr th:each="serverInfo:${serverInfoList}">
		<td th:text="${serverInfo.processDate}"></td>
		<td th:text="${serverInfo.serverName}"></td>
		<td th:text="${serverInfo.apacheProcess}"></td>
		<td th:text="${serverInfo.apacheConnection}"></td>
		<td th:text="${serverInfo.ajpConnection}"></td>
		<td th:text="${serverInfo.tomcatThread}"></td>
		<td th:text="${serverInfo.tomcatSession}"></td>
		<td th:text="${serverInfo.postgresConnection}"></td>
		<td th:text="${serverInfo.apiConnection}"></td>
	</tr>
	</table>

  </div>

</body>
</html>